.button{
    display: flex;
    height: 4em;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: #e0e1e6;
    color: #888;
    outline: 1px solid #888;
    cursor: pointer;
}
.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(3px);
}

.operator {
    background-color: #fe9241;
    color: white;
}