.clear-btn {
    display: flex;
    flex: 1;
    height: 4em;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    font-size: 1.rem;
    outline: 1px solid #888;
    height: 4em;
    background-color: #c5c3cd;
    cursor: pointer;
}

.clear-btn:active{
    box-shadow: 0 5px #666;
    transform: translateY(3px);    
}