.App {
  background-color: linen;
}

.App h2 {
  font-family: 'Gotu', sans-serif;
  text-align: center;
  font-size: 30px;
  margin-top: 0;
  padding-top: 10px;
  margin-bottom: -20px;
}

.App body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding-top: 0px;
}